


#####################################
##            S3 methods           ##
#####################################
S3method(as.data.frame, airGRt)
S3method(dyplot, default)
S3method(dyplot, PrepGR)
S3method(dyplot, CalGR)
S3method(dyplot, SimGR)
S3method(plot, PrepGR)
S3method(plot, CalGR)
S3method(plot, SimGR)



#####################################
##               Export            ##
#####################################
export(PrepGR)
export(CalGR)
export(SimGR)
export(dyplot)
export(ShinyGR)
export(.CheckUrl)
export(.DiagramGR)
export(.DyShadingMulti)
export(.StartStop)
export(.TypeModelGR)



#####################################
##               Import            ##
#####################################
import(stats)
import(graphics)
import(grDevices)
import(utils)
import(airGR)
importFrom(xts, xts)
import(dygraphs)
import(shiny)
importFrom(shinyjs, useShinyjs)
importFrom(shinyjs, enable)
importFrom(shinyjs, disable)
import(markdown)
importFrom(plotrix, boxed.labels)